* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: black;
  background-color: f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #04aa6d;
  text-align: center;
  line-height: 30px;
  color: white;
}
