<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />


<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />

    <script th:inline="javascript">

    </script>

    <style>
        html,
        body {
            height: 100%;
            padding: 0;
        }

        body {
            background-color: rgba(0, 0, 0);
        }
    </style>

    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>