<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />

<head>
    <link rel="stylesheet" href="./css/h.css">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="flex-1 order-1 pt-40 brd-right brd-grey-light col-md-3 pa-4-8">
                <h5 class="mb-3">Categories</h5>

                <ul class="list-unstyle">
                    <li class="my-3">
                        <a href="#" class="block none-deco c-grey-dark">test
                            <span style="float:right" class="font-size-12">202</span>
                        </a>
                    </li>
                    <li class="my-3">
                        <a href="#" class="block none-deco c-grey-dark">test
                            <span style="float:right;" class="font-size-12">303</span>
                        </a>
                    </li>
                </ul>


                <hr>
            </div>
            <div class="flex-3 order-2 pa-8-16">
                <div class="pl-15--lg">
                    <div class="flex align-items-center justify-content-end pt-40 pb-20 brd-bottom brd-grey-light">
                        <div class="mr-12">
                            <h6 class="text-uppercase vertical-align-middle inline-block font-weight-400">SHOW:</h6>
                            <button
                                class="btn btn-hover dropdown-toggle brd-none bg-trans c-grey-dark-2 pa-8-16">5</button>
                        </div>
                        <div class="mr-12">
                            <h6 class="text-uppercase vertical-align-middle inline-block font-weight-400">Sort By:</h6>
                            <button
                                class="btn btn-hover dropdown-toggle brd-none bg-trans c-grey-dark-2 pa-8-16">5</button>
                        </div>
                        <ul class="list-inline">
                            <li class="list-inline-item mr-12 ">
                                test
                                <i class="fa fa-arrow-down c-grey-dark" style="font-size: 12px;"></i>
                            </li>
                            <li class=" list-inline-item mr-12">
                                test
                                <i class="fa fa-arrow-down c-grey-dark" style="font-size: 12px;"></i>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row pt-30 mb-50 ">
                    <div class="col-6 col-lg-4 mb-30">
                        <div style="position:relative" class="pos-rel mb-20">
                            <img style="height:360px" class="img"
                                src="https://thumbs.dreamstime.com/b/beautiful-autumn-background-flying-falling-colorful-leaves-bokeh-frame-beautiful-autumn-background-flying-falling-99139534.jpg" />
                            <div class="w-100 bg-pri bg-black--hover py-6 pos-abs bottom text-center">
                                <a href="#" class="font-size-12 c-white">Picture</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-6 col-lg-4 mb-30">
                        <div style="position:relative" class="pos-rel mb-20">
                            <img style="height:360px" class="img"
                                src="https://thumbs.dreamstime.com/b/beautiful-autumn-background-flying-falling-colorful-leaves-bokeh-frame-beautiful-autumn-background-flying-falling-99139534.jpg" />
                            <div class="w-100 bg-pri bg-black--hover py-6 pos-abs bottom text-center">
                                <a href="#" class="font-size-12 c-white">Picture</a>
                            </div>

                        </div>
                    </div>

                    <div class="col-6 col-lg-4 mb-30">
                        <div style="position:relative" class="pos-rel mb-20">
                            <img style="height:360px" class="img"
                                src="https://thumbs.dreamstime.com/b/beautiful-autumn-background-flying-falling-colorful-leaves-bokeh-frame-beautiful-autumn-background-flying-falling-99139534.jpg" />
                            <div class="w-100 bg-pri bg-black--hover py-6 pos-abs bottom text-center">
                                <a href="#" class="font-size-12 c-white">Picture</a>
                            </div>

                        </div>
                    </div>

                    <div class="col-6 col-lg-4 mb-30">
                        <div style="position:relative" class="pos-rel mb-20">
                            <img style="height:360px" class="img"
                                src="https://thumbs.dreamstime.com/b/beautiful-autumn-background-flying-falling-colorful-leaves-bokeh-frame-beautiful-autumn-background-flying-falling-99139534.jpg" />
                            <div class="w-100 bg-pri bg-black--hover py-6 pos-abs bottom text-center">
                                <a href="#" class="font-size-12 c-white">Picture</a>
                            </div>

                        </div>
                    </div>

                    <div class="col-6 col-lg-4 mb-30">
                        <div style="position:relative" class="pos-rel mb-20">
                            <img style="height:360px" class="img"
                                src="https://thumbs.dreamstime.com/b/beautiful-autumn-background-flying-falling-colorful-leaves-bokeh-frame-beautiful-autumn-background-flying-falling-99139534.jpg" />
                            <div class="w-100 bg-pri bg-black--hover py-6 pos-abs bottom text-center">
                                <a href="#" class="font-size-12 c-white">Picture</a>
                            </div>

                        </div>
                    </div>

                    <div class="col-6 col-lg-4 mb-30">
                        <div style="position:relative" class="pos-rel mb-20">
                            <img style="height:360px" class="img"
                                src="https://thumbs.dreamstime.com/b/beautiful-autumn-background-flying-falling-colorful-leaves-bokeh-frame-beautiful-autumn-background-flying-falling-99139534.jpg" />
                            <div class="w-100 bg-pri bg-black--hover py-6 pos-abs bottom text-center">
                                <a href="#" class="font-size-12 c-white">Picture</a>
                            </div>

                        </div>
                    </div>



                </div>

                <hr class="w-90 m-auto">

                <div class="mb-100">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="c-grey-dark active wpx-30 hpx-30 pa-5  font-size-12 page-item brd-pri" href="#">
                                1
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="wpx-30 hpx-30 pa-5 c-grey-dark font-size-12 page-item brd-pri" href="#">
                                2
                            </a>
                        </li>

                        ...
                        <li class="list-inline-item">
                            <a class="brd-grey-light circle wpx-30 hpx-30 pa-5 c-grey-dark font-size-12 page-item brd-pri"
                                href="#">
                                >
                            </a>
                        </li>
                        <div class="float-right font-size-12">Page 1 of 15</div>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="bg-pri">
        <div class="container py-20">
            <div class="row justify-content-center">
                <div class="col-md-4 m-auto py-20">
                    <div class="c-white px-50--lg flex align-items-start">
                        <i class="fa fa-user pos-rel mr-20 font-size-40"></i>
                        <div style="flex:1;">
                            <span class="block c-white font-weight-500 font-size-16">FREE SHIPPING</span>
                            <span class="block c-white font-weight-500 font-size-16">In 2-3 Days</span>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-auto py-20">
                    <div class="c-white px-50--lg flex align-items-start">
                        <i class="fa fa-user pos-rel mr-20 font-size-40"></i>
                        <div style="flex:1;">
                            <span class="block c-white font-weight-500 font-size-16">FREE SHIPPING</span>
                            <span class="block c-white font-weight-500 font-size-16">In 2-3 Days</span>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-auto py-20">
                    <div class="c-white px-50--lg flex align-items-start">
                        <i class="fa fa-user pos-rel mr-20 font-size-40"></i>
                        <div style="flex:1;">
                            <span class="block c-white font-weight-500 font-size-16">FREE SHIPPING</span>
                            <span class="block c-white font-weight-500 font-size-16">In 2-3 Days</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-dark-1 c-white brd-bottom brd-light">
        <div class="container pt-100 mb-30">
            <div class="row justify-content-start mb-30">
                <div class="col-md-5 mb-30">
                    <h5 style="margin-left: -15px;" class="c-grey-light mb-4">Products</h5>
                    <div class="row">
                        <div class="col-4 mb-20">
                            <ul class="list-unstyle font-size-13 mb-0">
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4 mb-20">
                            <ul class="list-unstyle font-size-13 mb-0">
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4 mb-20">
                            <ul class="list-unstyle font-size-13 mb-0">
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-30">
                    <h5  class="c-grey-light mb-4">Products</h5>
                    <div class="row">
                        <div class="col-6 mb-20">
                            <ul class="list-unstyle font-size-13 mb-0">
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 mb-20">
                            <ul class="list-unstyle font-size-13 mb-0">
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                                <li class="mb-10">
                                    <a class="link c-grey-dark c-pri--hover">
                                        Smart
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-3 mb-30">
                    <h5 style="margin-left: -15px;" class="c-grey-light mb-4">Contacts</h5>
                    <div class="row">
                        <ul class="list-unstyle font-size-13 mb-0">
                            <li class="mb-10">
                                <a class="link c-grey-dark c-pri--hover">
                                    Smart
                                </a>
                            </li>
                            <li class="mb-10">
                                <a class="link c-grey-dark c-pri--hover">
                                    Smart
                                </a>
                            </li>
                            <li class="mb-10">
                                <a class="link c-grey-dark c-pri--hover">
                                    Smart
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            test
        </div>
    </div>



</body>

</html>