<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Test/src/main/resources/static/css/main.css">
    <link rel="stylesheet" href="/Test/src/main/resources/static/css/icon.css">
    <link rel="stylesheet" href="/Test/src/main/resources/static/css/hs-admin-icons/hs-admin-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="/Test/src/main/resources/static/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet"
        type="text/css" />
    <link href="/Test/src/main/resources/static/assets/plugins/global/plugins.bundle.css" rel="stylesheet"
        type="text/css">
</head>

<body
    class="aside-enabled aside-fixed dark-mode header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed"
    style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">

    <div class="flex flex-col flex-root">
       <div class="flex flex-row flex-column-fluid">
           <div class="flex flex-col flex-column-fluid">
                <div class="flex flex-column-fluid">
                    <div class="container-xxl">
                        <div class="card mb-5 mb-xl-10">
                            <div class="card-header flex-row border-0" style="flex-grow: 0;">
        
                                    <div>test</div>
                                    <div>test</div>
                                    <div>test</div>
                                
                            </div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
    </div>

    <script src="/Test/src/main/resources/static/assets/plugins/global/plugins.bundle.js"></script>
    <script src="/Test/src/main/resources/static/assets/js/scripts.bundle.js"></script>
    <script src="/Test/src/main/resources/static/assets/js/custom/apps/chat/chat.js"></script>
    <script src="/Test/src/main/resources/static/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="/Test/src/main/resources/static/assets/plugins/custom/vis-timeline/vis-timeline.bundle.js"></script>

    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://kit.fontawesome.com/b2ffefc822.js" crossorigin="anonymous"></script>

    <script src="/Test/src/main/resources/static/js/jquery.js"></script>
    <script src="/Test/src/main/resources/static/js/chart/chartview.js"></script>
    <script src="/Test/src/main/resources/static/js/chart/hardwarechart.js"></script>
    <script type="module" src="/Test/src/main/resources/static/js/main.js"></script>
    <script type="module" src="/Test/src/main/resources/static/js/music/music.js"></script>
    <script type="module" src="/Test/src/main/resources/static/js/music/play.js"></script>

</body>

</html>