<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />

<head>
    <link rel="stylesheet" href="./css/h.css">

    <style>
        body {
            background-color: rgba(3, 15, 24, 0.822);
        }

        body,
        html {
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="flex justify-content-center align-items-center mt-auto mb-auto h-100">
        <div style="width:580px; height: auto;" class="pos-rel w-30 bg-black round-16 c-white pa-16">
            <span style="top:16px; left:16px;" class="pos-abs font-size-20 cursor-pointer">X</span>
            <div>
                <div class="text-center font-size-24 font-weight-600">Twitter</div>
                <div>
                    <h4>계정을 생성하세요</h4>
                    <div class="container-my">
                        <input placeholder="아이디를 입력하세요" type="text"
                            class="inline-block w-100 brd brd-grey round-8 pa-14-16 bg-inherit c-white line-height-30" />
                        <input placeholder="비밀번호를 입력하세요" type="text"
                            class="inline-block w-100 brd brd-grey round-8 pa-14-16 bg-inherit c-white line-height-30 mt-20">
                    </div>
                    <div class="mb-30">
                        <span class="c-grey-dark">이미 아이디가 있으신가요? <a href="#" class="c-aqua-1">로그인 하러가기</a></span>
                    </div>
                    <div class="mb-10">
                        <span class="c-white">생년월일</span>
                        <p class="c-grey-dark mt-0">이 정보는 공개적으로 표시되지 않습니다. 비즈니스, 반려동물 등 계정 주제에 상관 없이 나의 연령을 확인하세요.</p>
                        <div class="row">
                            <div class="col-6">
                                <input placeholder="010" type="text"
                                    class=" w-100 brd brd-grey round-8 pa-14-16 bg-inherit c-white line-height-30 mr-20">
                            </div>
                            <div class="col-3">
                                <input placeholder="1234" type="text"
                                    class=" w-100 brd brd-grey round-8 pa-14-16 bg-inherit c-white line-height-30 mr-20">
                            </div>
                            <div class="col-3">
                                <input placeholder="5678" type="text"
                                    class=" w-100 brd brd-grey round-8 pa-14-16 bg-inherit c-white line-height-30 ">
                            </div>
                        </div>
                    </div>
                    <button
                        class="btn brd w-100 round-16 bg-grey-dark pa-8-16 font-size-16 line-height-30 font-weight-500 mt-30">다음</button>
                </div>
            </div>

        </div>
    </div>


</body>

</html>