<!DOCTYPE html>

<html>

<head>
    <link href="./css/plugin.bundle.css" rel="stylesheet">
    <link href="./css/style.bundle.css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
</head>

<body>
    <div class="flex flex-root flex-col">
        <div class="flex flex-row flex-column-fluid">
            <div>test</div>

            <div>test</div>
            <div>test</div>
            <div>test</div>
        </div>
    </div>


    <script>

    </script>

</body>

</html>